@use '../style-base.scss' as base;
@use './icons-theme.scss' as icons;
@use "sass:color";

@mixin set-theme($theme-base-color: base.$base-color) {
    $base-color: $theme-base-color;
    color: color.adjust($base-color, $lightness: -45%) !important;

    border-color: color.adjust($base-color, $lightness: -10%) !important;

    &:hover {
      &.select-row {
        background-color: color.adjust($base-color, $lightness: 20%);
      }
      &:not(.select-row) {
        background-color: transparent;
      }
    }

    &.selected {
      @include base.gradient-background($base-color);
      outline-color: color.adjust($base-color, $lightness: 10%) !important;
    }
    .checkbox {
      border-color: color.adjust($base-color, $lightness: 4%) !important;
      &.selected {
        border-color: color.adjust($base-color, $lightness: -8%) !important;
      }
    }
    .expand-button {
      color: color.adjust($base-color, $lightness: -45%) !important;
    }

    .icon-and-text {
      &:hover {
        &.select-row {
          background-color: transparent;
        }
        &:not(.select-row) {
          background-color: color.adjust($base-color, $lightness: 20%);
        }
      }
      &.select-row {
        border: 0;
        padding: 1px;
      }
      &.selected {
        @include base.gradient-background($base-color);
      }

    }
}
